/* FONTS */
$fontBody: "freight-sans-pro", Helvetica Neue, Arial, sans-serif;

$fontSize: 1.25em; /* 18px */

$fs1: 1.941176471em; /* 46.388 */
$fs2: 1.588235294em; /* 37.11 */
$fs3: 1.235294118em; /* 29.688 */
$fs4: 1em; /* 23.75 */
$fs5: 0.84em; /* 16 */
$fs6: 0.655em; /* 13 */

/* COLOR */
$bg: #ffffff;
$black: #545458;
$red: #3399FF;
$grey: #A0A0A2;

/* VERTICAL RHYTHM */
$verticalRhythm: 1.529411765;

/* VIEWPORTS */
$small_view: 40rem;