<footer class="clearfix block">
	<h6>&#169; {{ site.time | date: "%Y" }} Rogin Farrer. All rights reserved.</h6>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script> // Google Analytics //
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
													})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-56058775-1', 'auto');
	ga('send', 'pageview');
</script> <!-- Google analytics end --> 
<!-- 
<script>
	$(function(){
		$("a").each(function(){
			if ($(this).attr("href") == window.location.pathname){
				$(this).addClass("selected");
			}
		});
	});
</script>

<script>
	$(function() {
		$('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				if (target.length) {
					$('html,body').animate({
						scrollTop: target.offset().top
					}, 1000);
					return false;
				}
			}
		});
	});
</script>
--> 