img {
	height: auto;
	display: block;
	margin-bottom: ($verticalRhythm / 2) + em;
}

.alignleft, .alignright {
	display: block;
	margin: $verticalRhythm + em auto;
	max-width: 100%;
}

.alignleft {
	@media (min-width: $small_view) {
		float:left; 
		margin-right: $verticalRhythm + em; 
		margin-top: 0.4em; 
		max-width: 50%;
	}
}

.alignright {
	@media (min-width: $small_view) {
		float:right; 
		margin-left: $verticalRhythm + em;
		margin-top: 0.4em; 
		max-width: 50%;
	}
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.background_cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#rogin {
	@include border-radius(25px);
	border: 4px solid #bababa;
	@media (min-width: $small-view) {
		float: right;
	}
}