img {
	height: auto;
	display: block;
	margin-bottom: ($verticalRhythm / 2) + em;
}

.alignleft, .alignright {
	display: block;
	margin: $verticalRhythm + em auto;
	max-width: 100%;
}

.alignleft {
	@media (min-width: $small_view) {
		float:left; 
		margin-right: $verticalRhythm + em; 
		margin-top: 0.4em; 
		max-width: 50%;
	}
}

.alignright {
	@media (min-width: $small_view) {
		float:right; 
		margin-left: $verticalRhythm + em;
		margin-top: 0.4em; 
		max-width: 50%;
	}
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.background_cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.thumb_link, .thumb_link_hero {
	opacity: 1;
	@include transition(opacity 200ms ease-out);
	&:hover {
		opacity: 0.9;
		@include transition(opacity 200ms ease-out);
	}
}

.thumb_img, .thumb_img_hero {
	border: 7px solid #bababa;
}

.thumb_link div {
	height: 12em;
}

.thumb_link_hero div {
	height: 12em;
	@media (min-width: $small_view) {
		height: 15em;
		width: 85%;
		margin: 0 auto;
	}
}



#rogin {
	@include border-radius(25px);
	border: 7px solid #bababa;
}