a#spotify, a#spotify:visited {
	color: #81b71a;
	&:hover {
		color: #9AC548;
	}
}

a#soundcloud, a#soundcloud:visited {
	color: #ff5500;
	&:hover {
		color: #FF7733;
	}
}

#subline {
	text-align: center;
	display: block;
	font-weight: normal;
	margin-bottom: $verticalRhythm * 2 + em;
	@media (max-width: 50rem) {
		font-size: $fs3;
	}
}



