.flexslider_wrapper {
	float: left;
	@media (min-width: 40rem) {
		margin: 0 auto;
		width: 72%;
	}
}

.details {
	border-top: 7px solid $red;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	width: 60%;
	p {
		font-size: $fs5;
		margin-bottom: 0;
	}
	@media (min-width: $small_view) {
		border-top: none;
		border-left: 7px solid $red;
		clear: none;
		float: right;
		margin-top: ($verticalRhythm * 4) + em;
		padding-bottom: 10px;
		width: 25%;
		text-align: left;
	}
}

.detail_title, .detail_company, .detail_designers {
	font-size: 14px;
	font-weight: 600;
	padding-left: 10px;
}

.detail_title {
	color: #343437;
}

.detail_company {
	color: #67676A;
}

.detail_designers {
	color: #8D8D8F;
}

.flex_caption {
	position: relative;
	bottom: 0;
	float: right;
	text-align: right;
	margin: 0;
	font-size: .6em;
	padding: 0 25px;
}